@model Orchard.Tags.ViewModels.TagsSearchViewModel
@{ 
    Html.AddTitleParts(T("{0}", Model.TagName).ToString());
    Model.List.Classes.Add("tagged-posts");
    Model.List.Classes.Add("content-items");
}
<h1 class="page-title">@T("Статьи с тэгом <span>\"{0}\"</span>", Model.TagName)</h1>
@Display(Model.List)
@Display(Model.Pager)