.cusel,
.jScrollArrowUp,
.jScrollArrowDown {
	background: #fff;
}
.cusel {
    background: url('../images/selects.png') no-repeat;
	height: 28px;
    width: 209px !important;
    outline: none;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 12px;
    *float: left;
}
.request .cusel {
    background: url('../images/selects1.png') no-repeat;
    width: 140px !important;
}
.left .cusel {
    float: right;
    margin-right: 10px;
}
.left .cusel, .center .filter .cusel, .box.third .cusel, .tender_answers .cusel {
    background: url('../images/selects2.png') no-repeat;
    width: 90px !important;
}
.cusel.white_mini {
    background: url('../images/selects4.png') no-repeat;
    width: 92px !important;
    height: 25px;    
}
.cusel.white_big {
    background: url('../images/selects3.png') no-repeat;
    width: 126px !important;
    height: 25px;    
}
.cuselText { /* РєРѕРЅС‚РµР№РЅРµСЂ РґР»СЏ РѕС‚РѕР±СЂР°Р¶РµРЅРЅРѕРіРѕ С‚РµРєСЃС‚Р° СЃРµР»РµРєС‚ */
	height: 14px;
	padding: 8px 0 0 7px; /* РїРѕРґР±РёСЂР°РµРј РѕС‚СЃС‚СѓРїС‹ Рё РІС‹СЃРѕС‚Сѓ РґР»СЏ РІРёРґРёРјРѕРіРѕ С‚РµРєСЃС‚Р° РІ СЃРµР»РµРєС‚Рµ */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
    color: #808080;
}
.cusel.white_mini .cuselText, .cusel.white_big .cuselText {
    padding-top: 5px;
    font-family: 'cuprumregular';
    color: #727474;
    font-size: 15px;
}
.cusel-scroll-pane > span { /* РѕС„РѕСЂРјР»РµРЅРёРµ РѕРїС‚РёРѕРЅР° */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* РїР°РґРґРёРЅРі СЃРїСЂР°РІР° - СЌС‚Рѕ РѕС‚СЃС‚СѓРї С‚РµРєСЃС‚Р° РѕС‚ РїРѕР»Р·СѓРЅРєР° */
	zoom: 1;
}
.cusel-scroll-pane > span:hover,
.cusel-scroll-pane .cuselOptHover { /* СЂРµР°РєС†РёСЏ РѕРїС‚РёРѕРЅР° РЅР° РЅР°РІРµРґРµРЅРёРµ */
	background: Highlight;
	color: #fff;
}
.cusel-scroll-wrap .cuselActive { /* РѕС„РѕСЂРјР»РµРЅРёРµ Р°РєС‚РёРІРЅРѕРіРѕ РѕРїС‚РёРѕРЅР° РІ СЃРїРёСЃРєРµ */
	background: #71b5d8;
	color: #fff;
	cursor: default;
}

/*
	styles for disabled select
*/
.cusel.classDisCusel,
.cusel.classDisCusel .cuselFrameRight {
	background-image: url(../images/select_bg.png);
  filter: alpha(opacity=65);
  opacity: .65;
	cursor: default;
}
.classDisCusel .cuselText {
	cursor: default;
}

/* Dropdown box for elements */
#cuselBox {
  position: absolute;
  z-index: 9999;
}


/*
	styles for scrollbar
*/
.cusel-scroll-wrap { /* РєРѕРЅС‚РµР№РЅРµСЂ РґР»СЏ Р±Р»РѕРєР° СЃ РїСЂРѕРєСЂСѓС‚РєРѕР№ */
	visibility: hidden;
	min-width: 100%;
    width: auto;
    *width: 200px !important;
	*max-width: 100% !important;
	*min-width: 10px !important;
    font-size: 12px;
    color: #808080;
}
.cusel-scroll-pane {
	background: #fff; /* С„РѕРЅ РІС‹РїР°РґР°СЋС‰РµРіРѕ СЃРїРёСЃРєР° */
}
.cusel-scroll-wrap .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
    background: #fff;
	border: 1px solid #ccc; /* РіСЂР°РЅРёС†С‹ РІС‹РїР°РґР°СЋС‰РµРіРѕ СЃРїРёcРєР° */
}

.cusel-scroll-wrap .jScrollPaneTrack { /* С‚СЂРµРє РґР»СЏ РїРѕР»Р·СѓРЅРєР° РїСЂРѕРєСЂСѓС‚РєРё */
	height: 100%;
	width: 16px !important;
	background: #fff;
    border:  1px solid #ccc;
    border-right: 0;
    border-top: 0;
	position: absolute;
	top: 0;
	right: 0px;
}
.cusel-scroll-wrap .jScrollPaneDrag { /* РїРѕР»Р·СѓРЅРѕРє */
	position: absolute;
	background: #ccc;
	cursor: pointer;
	width: 16px !important;
	height: 25px !important;
	right: 0px;
}